body {
	font: 400 14px/1.7em 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
	margin: 0;	
	padding: 0;
}

h1 {
	color: purple;
}
h2 {
	font-size: 16px;
	font-size: 1.143em;
	font-weight: 600;
	margin: 30px 0;
}
code {
	background-color: rgb(188, 224, 212);
	border: 1px solid teal;
	padding: 1px;
	font-weight: normal;
}

hr{
	margin: 20px 0;
}
.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 10px;
}

// Come up with a list of requirements the grid system needs to meet and just write a mixin that meets those requirements and builds out you grid system's CSS?

//http://css-tricks.com/naming-media-queries/
